
table
{
	border-collapse:separate;
	border-spacing:0px;
	/* Remplace border-collapse:collapse */
	border-radius: 5px;
	border:5px solid rgb(96,168,108);
}

caption
{
	font-size: 20px;
	margin-bottom: 20px;
	font-weight:bold;
}

thead
{
	background-color:rgb(96,168,108);
}

td, th
{
	padding:5px;
	vertical-align: top;
}

th
{
	font-weight:normal;
}

td
{
	border-right: 1px solid black;
	border-left: 1px solid black;
}

tbody
{
	font-weight:bold;
}

tbody tr:nth-child(odd)
{
	background-color: rgb(160,203,168);
}

tbody tr:nth-child(even)
{
	background-color: rgb(141,192,150);
}

tfoot td
{
	border: 1px solid black;
}

.plus
{
	color:rgb(0,128,64);
}

.moins
{
	color:#ff0000;
}

.autre
{
	color:black;
}

.plus, .moins, .autre
{
	text-align:center;
}

.pseudo
{
	text-align:left;
}